<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login OTP</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .content {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <h1>Login OTP</h1>
        <p>Hi {{.Name}},</p>
        <p>Use this OTP to login to your account.</p>
        <p>Your OTP is <strong>{{.OTP}}</strong></p>
        <p>Report if you did not request OTP for Login</p>
    </div>
</div>
</body>
</html>
